<div class="main-content position-relative">
  <!-- Main nav -->

  <!-- Page content -->
  <div class="page-content">
    <!-- Create project modal -->
    <div class="modal fade modal-add" id="modal-project-create" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <h6>Company Details</h6>
            <div class="form-group">
              <label class="form-control-label">Company name</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-6">
                  <label class="form-control-label">Logo</label>
                  <div class="logo-upload">
                    <input type="file" name="file-1[]" id="file-1" class="custom-input-file" data-multiple-caption="{count} files selected" multiple />
                    <label for="file-1">
                      <i class="fa fa-upload"></i>
                      <span>Choose a file…</span>
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <label class="form-control-label">CRM</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-6">
                  <label class="form-control-label">Country</label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-6">
                  <label class="form-control-label">City</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>

            <h6 class="mt-5">Reference Details</h6>

            <div class="form-group">
              <label class="form-control-label">Fullname</label>
              <input type="text" class="form-control">
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-6">
                  <label class="form-control-label">Photo</label>
                  <div class="logo-upload">
                    <input type="file" name="file-1[]" id="file-1" class="custom-input-file" data-multiple-caption="{count} files selected" multiple />
                    <label for="file-1">
                      <i class="fa fa-upload"></i>
                      <span>Choose a file…</span>
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <label class="form-control-label">Position</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-6">
                  <label class="form-control-label mb-0">Contact</label>
                  <textarea class="form-control" data-toggle="autosize" rows="2"></textarea>
                </div>
                <div class="col-6">
                  <label class="form-control-label mb-0">Note</label>
                  <textarea class="form-control" data-toggle="autosize" rows="2"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary rounded-pill" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-sm btn-primary rounded-pill" data-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Page title -->
    <div class="page-title mt-4">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
          <!-- Page title + Go Back button -->
          <div class="d-inline-block">
            <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">
              <a href="#" class="sidenav-toggler mr-2" id="navigation-toggler" data-action="sidenav-pin" data-target="#sidenav-main"><i class="fas fa-bars"></i></a>
              Customers
            </h5>
          </div>
          <!-- Additional info -->
          <div class="align-items-center ml-4 d-inline-flex">
            <span class="h4 text-info mb-0 mr-2">{{customers.length}}</span>
            <span class="text-sm opacity-7 text-white mr-2"> in total</span>
          </div>
          <!-- Optional link -->
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
          <div class="actions actions-dark d-inline-block">
            <a href="#" class="action-item ml-md-4">
              <i class="fas fa-file-export mr-2"></i>Export
            </a>
            <a href="#" class="action-item ml-3">
              <i class="fas fa-cog mr-2"></i>Settings
            </a>
          </div>
          <a href="#modal-project-create" class="btn btn-sm btn-white btn-icon-only rounded-circle ml-4" data-toggle="modal">
            <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
          </a>
        </div>
      </div>
    </div>
    <!-- Listing -->
    <div class="card">
      <!-- Card header -->
      <div class="card-header actions-toolbar border-0">
        <div class="actions-search" id="actions-search">
          <div class="input-group input-group-merge input-group-flush">
            <div class="input-group-prepend">
              <span class="input-group-text bg-transparent"><i class="fas fa-search"></i></span>
            </div>
            <input type="text" class="form-control form-control-flush" placeholder="Type and hit enter ...">
            <div class="input-group-append">
              <a href="#" class="input-group-text bg-transparent" data-action="search-close" data-target="#actions-search"><i class="fas fa-times"></i></a>
            </div>
          </div>
        </div>
        <div class="row justify-content-between align-items-center">
          <div class="col">
            <h6 class="d-inline-block mb-0">Customers</h6>
          </div>
          <div class="col text-right">
            <div class="actions"><a href="#" class="action-item mr-3" data-action="search-open" data-target="#actions-search"><i class="fas fa-search"></i></a>
              <div class="dropdown mr-3">
                <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-filter"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-sort-amount-down"></i>Newest
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-sort-alpha-down"></i>From A-Z
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-sort-alpha-up"></i>From Z-A
                  </a>
                </div>
              </div>
              <div class="dropdown" data-toggle="dropdown">
                <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-h"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="#" (click)="refreshList()" class="dropdown-item">Refresh</a>
                  <a href="#" class="dropdown-item">Manage Widgets</a>
                  <a href="#" class="dropdown-item">Settings</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Table -->
      <div class="table-responsive">
        <table class="table align-items-center">
          <thead>
          <tr>
            <th scope="col" class="sort" data-sort="order"></th>
            <th scope="col" class="sort" data-sort="cname">Company</th>
            <th scope="col" class="sort" data-sort="cname"></th>
            <th scope="col" class="sort" data-sort="reference">Reference</th>
            <th scope="col" class="sort">Contacts</th>
            <th scope="col" class="sort" data-sort="country">Country</th>
            <th scope="col" class="sort" data-sort="calls">Calls</th>
          </tr>
          </thead>
          <tbody class="list">
          <tr *ngFor="let customer of customers; let i = index">
            <th class="order" scope="row">{{i + 1}}</th>
            <td>
              <div class="media align-items-center">
                <div class="customers-logo">
                  <a href="customers/details.html">
                    <img alt="Logo" src="../assets/img/clients/svg/airbnb.svg" class="clogo">
                  </a>
                </div>
              </div>
            </td>
            <td class="cname">
              <a href="customers/details.html" class="name h6 mb-0 text-sm">{{customer.name}}</a>
            </td>
            <td class="reference">
              <div class="media align-items-center">
                <div>
                  <div class="avatar-parent-child">
                    <img alt="Image placeholder" src="../assets/img/theme/light/team-2-800x800.jpg" class="avatar  rounded-circle">
                  </div>
                </div>
                <div class="media-body ml-4">
                  <a href="#" class="name h6 mb-0 text-sm">{{customer.referencePerson.fullname}}</a>
                  <small class="d-block font-weight-bold">{{customer.referencePerson.position}}</small>
                </div>
              </div>
            </td>
            <td class="contacts">
              <a *ngIf="customer.contactDetails && customer.contactDetails.phone" href="#" class="mb-0" data-toggle="tooltip" data-placement="top" title="+38093 712 1976"><i class="fas fa-phone-square color-phone"></i></a>
              <a *ngIf="customer.contactDetails && customer.contactDetails.facebook" href="#" class="mb-0" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fab fa-facebook-square color-fb"></i></a>
              <a *ngIf="customer.contactDetails && customer.contactDetails.linkedin" href="#" class="mb-0" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fab fa-linkedin color-li"></i></a>
              <a *ngIf="customer.contactDetails && customer.contactDetails.twitter" href="#" class="mb-0" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fab fa-twitter-square color-tw"></i></a>
            </td>
            <td class="country"><img alt="flag" class="table-flag" src="../assets/img/icons/flags/us.svg" /> {{customer.city}}</td>
            <td class="calls">
              <span class="badge badge-secondary">{{customer.order}}</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
