<div class="container-fluid container-application">
  <div class="main-content position-relative">
    <div class="page-content">
      <div class="min-vh-100 py-5 d-flex align-items-center">
        <div class="w-100">
          <div class="row justify-content-center">
            <div class="col-sm-8 col-lg-4">
              <div class="card shadow zindex-100 mb-0">
                <div class="card-body px-md-5 py-5">
                  <div class="mb-5 text-center">
                    <div class="auth-logo text-center mb-2">
                      <img src="../../../assets/img/brand/dark.png" alt="logo"/>
                    </div>
                    <p class="text-muted mb-0 text-center">Sign in to your account to continue.</p>
                  </div>
                  <span class="clearfix"></span>
                  <app-list-errors [errorsServer]="errors"></app-list-errors>
                  <form role="form" [formGroup]="authForm" (ngSubmit)="submitForm()">
                    <div class="form-group">
                      <label class="form-control-label">Email address</label>
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input formControlName="email" type="email" class="form-control" id="input-email"
                               placeholder="name@example.com" >
                      </div>
                    </div>
                    <div class="form-group mb-4">
                      <div class="d-flex align-items-center justify-content-between">
                        <div>
                          <label class="form-control-label">Password</label>
                        </div>
                        <div class="mb-2">
                          <a routerLink='/recover' class="small text-muted text-underline--dashed border-primary">
                            Lost password?</a>
                        </div>
                      </div>
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input formControlName="password" [type]="typePasswordInput" class="form-control"
                               id="input-password" placeholder="Password">
                        <div class="input-group-append">
                            <span class="input-group-text">
                              <a (click)="togglePasswordView()" data-toggle="password-text"
                                 data-target="#input-password">
                                <i class="fas fa-eye"></i>
                              </a>
                            </span>
                        </div>
                      </div>
                    </div>
                    <a>
                      <div class="mt-4">
                        <button type="submit" class="btn btn-sm btn-primary btn-icon rounded-pill"
                                [disabled]="!authForm.valid || isSubmitting">
                          <span class="btn-inner--text">Sign in</span>
                          <span class="btn-inner--icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                        </button>
                      </div>
                    </a>
                  </form>
                </div>
                <div class="card-footer px-md-5">
                  <small>Not registered?</small>
                  <a routerLink='/register' class="small font-weight-bold">Create account</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
  </div>
</div>
