
<!-- Application container -->
<div class="container-fluid container-application">
  <!-- Content -->
  <div class="main-content position-relative">
    <!-- Main nav -->

    <!-- Page content -->
    <div class="page-content">
      <!-- Create project modal -->
      <div class="modal fade modal-add" id="modal-project-create" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="form-group">
                <label class="form-control-label">
                  Name
                </label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label class="form-control-label">
                  Company
                </label>
                <input type="text" class="form-control">
              </div>
              <!-- Project description -->
              <div class="form-group">
                <label class="form-control-label mb-0">
                  Description
                </label>
                <small class="form-text text-muted mb-2 mt-0">
                  Please, describe what kind of feedback are you expexting to get
                </small>
                <textarea class="form-control" data-toggle="autosize" rows="1"></textarea>
              </div>

              <div class="form-group">
                <label class="form-control-label">
                  Customer
                </label>
                <select class="custom-select">
                  <option selected>Select customer...</option>
                  <option value="Cigna">Cigna</option>
                  <option value="Vision X">Vision X</option>
                  <option value="Envision">Envision</option>
                  <option value="CVS/Caremark">CVS/Caremark</option>
                  <option value="OptumRx">OptumRx</option>
                  <option value="Argus">Argus</option>
                </select>
              </div>


              <div class="form-group">
                <div>
                  <label class="form-control-label">
                    Type
                  </label>
                </div>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-primary">
                    <input type="checkbox" name="options" id="checkboxButton2" autocomplete="off"> Text chat
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" name="options" id="checkboxButton3" autocomplete="off"> Phone call
                  </label>
                  <label class="btn btn-primary active">
                    <input type="checkbox" name="options" id="checkboxButton4" autocomplete="off" checked> Video call
                  </label>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-secondary rounded-pill" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-sm btn-primary rounded-pill" data-dismiss="modal">Add</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Page title -->
      <div class="page-title mt-4">
        <div class="row justify-content-between align-items-center">
          <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
            <!-- Page title + Go Back button -->
            <div class="d-inline-block">
              <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">Requests</h5>
            </div>
            <!-- Additional info -->
            <div class="align-items-center ml-4 d-inline-flex">
              <span class="h4 text-info mb-0 mr-2">12</span>
              <span class="text-sm opacity-7 text-white mr-2"> in total. </span>
              <span class="h4 text-info mb-0 mr-2">3</span>
              <span class="text-sm opacity-7 text-white"> are new!</span>
            </div>
            <!-- Optional link -->
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
            <div class="actions actions-dark d-inline-block">
              <a href="#" class="action-item ml-md-4">
                <i class="fas fa-file-export mr-2"></i>Export
              </a>
              <!--
                              <a href="#" class="action-item ml-3">
                                <i class="fas fa-cog mr-2"></i>Settings
                              </a>
              -->
            </div>
            <a href="#modal-project-create" class="btn btn-sm btn-white btn-icon-only rounded-circle ml-4" data-toggle="modal">
              <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
            </a>
          </div>
        </div>
      </div>
      <!-- Listing -->
      <div class="card">
        <!-- Card header -->
        <div class="card-header actions-toolbar border-0">
          <div class="actions-search" id="actions-search">
            <div class="input-group input-group-merge input-group-flush">
              <div class="input-group-prepend">
                <span class="input-group-text bg-transparent"><i class="fas fa-search"></i></span>
              </div>
              <input type="text" class="form-control form-control-flush" placeholder="Type and hit enter ...">
              <div class="input-group-append">
                <a href="#" class="input-group-text bg-transparent" data-action="search-close" data-target="#actions-search"><i class="fas fa-times"></i></a>
              </div>
            </div>
          </div>
          <div class="row justify-content-between align-items-center">
            <div class="col">
              <h6 class="d-inline-block mb-0">Requests</h6>
            </div>
            <div class="col text-right">
              <div class="actions"><a href="#" class="action-item mr-3" data-action="search-open" data-target="#actions-search"><i class="fas fa-search"></i></a>
                <div class="dropdown mr-3">
                  <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-filter"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-sort-amount-down"></i>Newest
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-sort-alpha-down"></i>From A-Z
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-sort-alpha-up"></i>From Z-A
                    </a>
                  </div>
                </div>
                <div class="dropdown" data-toggle="dropdown">
                  <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-h"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a href="#" class="dropdown-item">Refresh</a>
                    <a href="#" class="dropdown-item">Manage Widgets</a>
                    <a href="#" class="dropdown-item">Settings</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Table -->
        <div class="table-responsive">
          <table class="table align-items-center">
            <thead>
            <tr>
              <th scope="col" class="sort" data-sort="id">ID</th>
              <th scope="col" class="sort" data-sort="name">Name</th>
              <th scope="col" class="sort" data-sort="company">Company</th>
              <th scope="col" class="sort" data-sort="status">Status</th>
              <th scope="col" class="sort" data-sort="customer">Customer</th>
              <th scope="col" class="text-right">Action</th>
            </tr>
            </thead>
            <tbody class="list">
            <tr>
              <th scope="row"><a href="overview.html" class="name mb-0 h6 text-sm">134/01</a></th>
              <td class="name"><a href="request_details.html" class="name mb-0 h6 text-sm">Ariana Barros</a></td>
              <td class="company">Intalere</td>
              <td class="status"><span class="badge badge-primary rounded-pill">New</span></td>
              <td class="customer">Cigna</td>
              <td class="text-right">
                <div class="actions">
                  <a href="#" class="action-item mr-2" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                  <a href="#" class="action-item text-danger mr-2" data-toggle="tooltip" title="Move to trash"><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row"><a href="overview.html" class="name mb-0 h6 text-sm">134/02</a></th>
              <td class="name"><a href="request_details.html" class="name mb-0 h6 text-sm">Emlen Beaver</a></td>
              <td class="company">R&D Go</td>
              <td class="status"><span class="badge badge-primary rounded-pill">New</span></td>
              <td class="customer">Vision X</td>
              <td class="text-right">
                <div class="actions">
                  <a href="#" class="action-item mr-2" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                  <a href="#" class="action-item text-danger mr-2" data-toggle="tooltip" title="Move to trash"><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row"><a href="request_details.html" class="name mb-0 h6 text-sm">134/03</a></th>
              <td class="name"><a href="request_details.html" class="name mb-0 h6 text-sm">Hu Guiying</a></td>
              <td class="company">Innovatix</td>
              <td class="status"><span class="badge badge-primary rounded-pill">New</span></td>
              <td class="customer">Envision</td>
              <td class="text-right">
                <div class="actions">
                  <a href="#" class="action-item mr-2" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                  <a href="#" class="action-item text-danger mr-2" data-toggle="tooltip" title="Move to trash"><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row"><a href="request_details.html" class="name mb-0 h6 text-sm">134/04</a></th>
              <td class="name"><a href="request_details.html" class="name mb-0 h6 text-sm">Izumi Katsuyoshi</a></td>
              <td class="company">HPG</td>
              <td class="status"><span class="badge badge-warning rounded-pill">Open</span></td>
              <td class="customer">CVS/Caremark</td>
              <td class="text-right">
                <div class="actions">
                  <a href="#" class="action-item mr-2" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                  <a href="#" class="action-item text-danger mr-2" data-toggle="tooltip" title="Move to trash"><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row"><a href="request_details.html" class="name mb-0 h6 text-sm">134/05</a></th>
              <td class="name"><a href="request_details.html" class="name mb-0 h6 text-sm">Karlien Nijhuis</a></td>
              <td class="company">ROi</td>
              <td class="status"><span class="badge badge-warning rounded-pill">Open</span></td>
              <td class="customer">OptumRx</td>
              <td class="text-right">
                <div class="actions">
                  <a href="#" class="action-item mr-2" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                  <a href="#" class="action-item text-danger mr-2" data-toggle="tooltip" title="Move to trash"><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row"><a href="request_details.html" class="name mb-0 h6 text-sm">134/06</a></th>
              <td class="name"><a href="request_details.html" class="name mb-0 h6 text-sm">Mónica Ribeiro</a></td>
              <td class="company">MHA</td>
              <td class="status"><span class="badge badge-warning rounded-pill">Open</span></td>
              <td class="customer">OptumRx</td>
              <td class="text-right">
                <div class="actions">
                  <a href="#" class="action-item mr-2" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                  <a href="#" class="action-item text-danger mr-2" data-toggle="tooltip" title="Move to trash"><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row"><a href="request_details.html" class="name mb-0 h6 text-sm">134/07</a></th>
              <td class="name"><a href="request_details.html" class="name mb-0 h6 text-sm">Thanawan Chadee</a></td>
              <td class="company">Express Scripts</td>
              <td class="status"><span class="badge badge-warning rounded-pill">Open</span></td>
              <td class="customer">Argus</td>
              <td class="text-right">
                <div class="actions">
                  <a href="#" class="action-item mr-2" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                  <a href="#" class="action-item text-danger mr-2" data-toggle="tooltip" title="Move to trash"><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row"><a href="request_details.html" class="name mb-0 h6 text-sm">134/09</a></th>
              <td class="name"><a href="request_details.html" class="name mb-0 h6 text-sm">Yvonne Knight</a></td>
              <td class="company">Vizient</td>
              <td class="status"><span class="badge badge-danger rounded-pill">Failed</span></td>
              <td class="customer">Citizens Rx</td>
              <td class="text-right">
                <div class="actions">
                  <a href="#" class="action-item mr-2" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                  <a href="#" class="action-item text-danger mr-2" data-toggle="tooltip" title="Move to trash"><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row"><a href="request_details.html" class="name mb-0 h6 text-sm">134/10</a></th>
              <td class="name"><a href="request_details.html" class="name mb-0 h6 text-sm">Knight Yvonne</a></td>
              <td class="company">Runner Pro</td>
              <td class="status"><span class="badge badge-success rounded-pill">Success</span></td>
              <td class="customer">Winter Oils</td>
              <td class="text-right">
                <div class="actions">
                  <a href="#" class="action-item mr-2" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                  <a href="#" class="action-item text-danger mr-2" data-toggle="tooltip" title="Move to trash"><i class="fas fa-trash"></i></a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Load more -->
      <div class="mt-4 text-center">
        <a href="#" class="btn btn-sm btn-neutral rounded-pill shadow hover-translate-y-n3">Load more ...</a>
      </div>
    </div>
  </div>
</div>

