<div class="main-content position-relative">
  <!-- Main nav -->

  <!-- Page content -->
  <div class="page-content">
    <!-- Create project modal -->
    <div class="modal fade modal-add" id="modal-project-create" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">Company name</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">Company website</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">Fullname</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">Position</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">Customer</label>
                    <select class="form-control select2-customers" data-toggle="select">
                      <option value="Cleaning Masters">Cleaning Masters</option>
                      <option value="Documenter">Documenter</option>
                      <option value="The Number One Lab">The Number One Lab</option>
                      <option value="Treegoos">Treegoos</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">Status</label>
                    <select class="form-control select2-customers" data-toggle="select">
                      <option value="To be Done">To be Done</option>
                      <option value="In Progress">In Progress</option>
                      <option value="Done">Done</option>
                      <option value="Canceled">Canceled</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label mb-0">Contacts</label>
                    <small class="form-text text-muted mb-2 mt-0">Any preferred prospect contact way</small>
                    <textarea class="form-control" data-toggle="autosize" rows="2"></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label mb-0">Description</label>
                    <small class="form-text text-muted mb-2 mt-0">Challenge you are facing or what kind of feedback is needed</small>
                    <textarea class="form-control" data-toggle="autosize" rows="2"></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label mb-0">Note</label>
                    <small class="form-text text-muted mb-2 mt-0">Any internal information important for making this request happen</small>
                    <textarea class="form-control" data-toggle="autosize" rows="2"></textarea>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary rounded-pill" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-sm btn-primary rounded-pill" data-dismiss="modal">Add</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade modal-confirm"  id="modal-confirm" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete request</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete request from <strong class="username">Ariana Barros</strong>?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Page title -->
    <div class="page-title mt-4">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
          <!-- Page title + Go Back button -->
          <div class="d-inline-block">
            <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">
              <a href="#" class="sidenav-toggler mr-2" id="navigation-toggler" data-action="sidenav-pin" data-target="#sidenav-main"><i class="fas fa-bars"></i></a>
              Requests
            </h5>
          </div>
          <!-- Additional info -->
          <div class="align-items-center ml-4 d-inline-flex">
            <span class="h4 text-info mb-0 mr-2">{{requests.length}}</span>
            <span class="text-sm opacity-7 text-white mr-2"> in total. </span>
            <span class="h4 text-info mb-0 mr-2">{{newRequests}}</span>
            <span class="text-sm opacity-7 text-white"> are new!</span>
          </div>
          <!-- Optional link -->
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
          <div class="actions actions-dark d-inline-block">
            <a href="#" class="action-item ml-md-4">
              <i class="fas fa-file-export mr-2"></i>Export
            </a>
            <!--
                            <a href="#" class="action-item ml-3">
                              <i class="fas fa-cog mr-2"></i>Settings
                            </a>
            -->
          </div>
          <a href="#modal-project-create" class="btn btn-sm btn-white btn-icon-only rounded-circle ml-4" data-toggle="modal">
            <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
          </a>
        </div>
      </div>
    </div>
    <!-- Listing -->
    <div class="card">
      <!-- Card header -->
      <div class="card-header actions-toolbar border-0">
        <div class="actions-search" id="actions-search">
          <div class="input-group input-group-merge input-group-flush">
            <div class="input-group-prepend">
              <span class="input-group-text bg-transparent"><i class="fas fa-search"></i></span>
            </div>
            <input type="text" class="form-control form-control-flush" placeholder="Type and hit enter ...">
            <div class="input-group-append">
              <a href="#" class="input-group-text bg-transparent" data-action="search-close" data-target="#actions-search"><i class="fas fa-times"></i></a>
            </div>
          </div>
        </div>
        <div class="row justify-content-between align-items-center">
          <div class="col">
            <h6 class="d-inline-block mb-0">Requests</h6>
          </div>
          <div class="col text-right">
            <div class="actions"><a href="#" class="action-item mr-3" data-action="search-open" data-target="#actions-search"><i class="fas fa-search"></i></a>
              <div class="dropdown mr-3">
                <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-filter"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-sort-amount-down"></i>Newest
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-sort-alpha-down"></i>From A-Z
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-sort-alpha-up"></i>From Z-A
                  </a>
                </div>
              </div>
              <div class="dropdown" data-toggle="dropdown">
                <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-h"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="#" (click)="refreshList()" class="dropdown-item">Refresh</a>
                  <a href="#" class="dropdown-item">Manage Widgets</a>
                  <a href="#" class="dropdown-item">Settings</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Table -->
      <div class="table-responsive">
        <table class="table align-items-center">
          <thead>
          <tr>
            <th scope="col" class="sort" data-sort="id">Id</th>
            <th scope="col">Note</th>
            <th scope="col" class="sort" data-sort="name">Fullname</th>
            <th scope="col" class="sort" data-sort="company">Company</th>
            <th scope="col" class="sort" data-sort="customer">Customer</th>
            <th scope="col" class="sort" data-sort="status">Status</th>
            <th scope="col" class="sort" data-sort="lastModified">Last Modified</th>
            <th scope="col" class="text-right">Action</th>
          </tr>
          </thead>
          <tbody class="list">
          <tr *ngFor="let request of requests; let i = index" [class.row-status-toBeDone]="request.status === 'todo'">
            <td scope="row" class="id"href="../app/requests/details.html">
              <a class="id mb-0 h6 text-sm"><i class="fas fa-chevron-right mr-2"></i>{{i + 1}}</a>
            </td>
            <td class="name">
              <div class="media-body">
                <strong>{{request.fullName}}</strong>
                <small>{{request.position}}</small>
              </div>
            </td>
            <td class="company">
              <a [href]="request.prospectCompany.portalUrl" target="_blank"><i class="fas fa-external-link-alt mr-1"></i></a>
              {{request.prospectCompany.name}}
            </td>

            <td class="customer">
              <a [href]="request.customer.crmLink" target="_blank"><i class="fas fa-external-link-alt mr-1"></i></a>
              {{request.customer.name}}
            </td>
            <td class="status">
              <div class="dropdown status-{{request.status ? request.status : 'toBeDone'}}">
                <a href="#" class="" id="status-row-1" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                  <span class="badge text-white rounded-pill dropdown-toggle status-value"> </span>
                  <div class="dropdown-menu" aria-labelledby="status-row-1">
                    <a class="dropdown-item status-link-toBeDone" #todo href="#" data-select="todo" (click)="select(todo, i)">
                      <span class="status-circule status-toBeDone"></span>ToDo</a>
                    <a class="dropdown-item status-link-inProgress" #inProgress href="#" data-select="open" (click)="select(inProgress, i)"><span
                      class="status-circule status-inProgress"></span>In Progress</a>
                    <a class="dropdown-item status-link-done" #done href="#" data-select="done" (click)="select(done, i)"><span
                      class="status-circule status-done"></span>Done</a>
                    <a class="dropdown-item status-link-canceled" #canceled href="#" data-select="canceled"
                       (click)="select(canceled, i)"><span class="status-circule status-canceled"></span>Canceled</a>
                  </div>
                </a>
              </div>
            </td>
            <td class="lastModified">
              Yesterday
            </td>

            <td class="col-actions text-right">
              <div class="dropdown" data-toggle="dropdown">
                <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-h"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right menu-actions" aria-haspopup="true" aria-expanded="false">
                  <a href="#" class="dropdown-item"><i class="fas fa-eye"></i>View</a>
                  <a href="#" class="dropdown-item"><i class="fas fa-edit"></i>Edit</a>
                  <div class="dropdown-divider"></div>
                  <a href="#" (click)="delete(i)" class="dropdown-item text-danger" data-toggle="modal"><i class="fas fa-trash"></i>Delete</a>
                </div>
              </div>
            </td>

            <td class="col-actions text-right">
              <div class="dropdown" data-toggle="dropdown">
                <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-h"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right menu-actions" aria-haspopup="true" aria-expanded="false">
                  <a href="#" class="dropdown-item"><i class="fas fa-eye"></i>View</a>
                  <a href="#" class="dropdown-item"><i class="fas fa-edit"></i>Edit</a>
                  <div class="dropdown-divider"></div>
                  <a href="#modal-confirm" class="dropdown-item text-danger" data-toggle="modal"><i class="fas fa-trash"></i>Delete</a>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Pagination -->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
