<div class="main-content position-relative">
  <div class="page-content">
    <ng-template #content let-modal>
      <div class="modal-content">
        <form [formGroup]="requestForm" (ngSubmit)="createRequest(modal)">
          <div class="modal-body">
            <app-list-errors [errorsServer]="errors"></app-list-errors>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label">Company name</label>
                  <input formControlName="companyName" type="text" class="form-control">
                  <app-list-errors
                    [control]="getControl('companyName')"></app-list-errors>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label">Company website</label>
                  <input formControlName="companyWebsite" type="text" class="form-control">
                  <app-list-errors
                    [control]="getControl('companyWebsite')"></app-list-errors>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label">Fullname</label>
                  <input formControlName="fullName" type="text" class="form-control">
                  <app-list-errors
                    [control]="getControl('fullName')"></app-list-errors>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label">Position</label>
                  <input formControlName="position" type="text" class="form-control">
                  <app-list-errors
                    [control]="getControl('position')"></app-list-errors>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label">Customer</label>
                  <select formControlName="customerId" class="form-control select2-customers" data-toggle="select">
                    <ng-container *ngFor="let customer of customers">
                      <option [value]="customer.id">{{customer.name}}</option>
                    </ng-container>
                  </select>
                  <app-list-errors
                    [control]="getControl('customerId')"></app-list-errors>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label">Status</label>
                  <select formControlName="status" class="form-control select2-customers" data-toggle="select">
                    <ng-container *ngFor="let status of statuses">
                      <option [value]="status.value">{{status.name}}</option>
                    </ng-container>
                  </select>
                  <app-list-errors
                    [control]="getControl('status')"></app-list-errors>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-control-label mb-0">Contacts</label>
                  <small class="form-text text-muted mb-2 mt-0">Any preferred prospect contact way</small>
                  <textarea formControlName="contacts" class="form-control" data-toggle="autosize"
                            rows="2"></textarea>
                  <app-list-errors
                    [control]="getControl('contacts')"></app-list-errors>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-control-label mb-0">Description</label>
                  <small class="form-text text-muted mb-2 mt-0">Challenge you are facing or what kind of feedback is
                    needed
                  </small>
                  <textarea formControlName="description" class="form-control" data-toggle="autosize"
                            rows="2"></textarea>
                  <app-list-errors
                    [control]="getControl('description')"></app-list-errors>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-control-label mb-0">Note</label>
                  <small class="form-text text-muted mb-2 mt-0">Any internal information important for making this
                    request happen
                  </small>
                  <textarea formControlName="note" class="form-control" data-toggle="autosize" rows="2"></textarea>
                  <app-list-errors
                    [control]="getControl('note')"></app-list-errors>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary rounded-pill" (click)="modal.close()">Cancel</button>
            <button type="submit" class="btn btn-sm btn-primary rounded-pill"
            >Add</button>
          </div>
        </form>
      </div>
    </ng-template>

    <div class="modal fade modal-confirm" id="modal-confirm" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete request</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete request from <strong class="username">Ariana Barros</strong>?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" >Cancel</button>
            <button type="button" class="btn btn-primary">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Page title -->
    <div class="page-title mt-4">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
          <!-- Page title + Go Back button -->
          <div class="d-inline-block">
            <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">
              <a href="#" class="sidenav-toggler mr-2" id="navigation-toggler" data-action="sidenav-pin"
                 data-target="#sidenav-main"><i class="fas fa-bars"></i></a>
              Requests
            </h5>
          </div>
          <!-- Additional info -->
          <div class="align-items-center ml-4 d-inline-flex">
            <span class="h4 text-info mb-0 mr-2">{{requests.length}}</span>
            <span class="text-sm opacity-7 text-white mr-2"> in total. </span>
            <span class="h4 text-info mb-0 mr-2">{{newRequests}}</span>
            <span class="text-sm opacity-7 text-white"> are new!</span>
          </div>
          <!-- Optional link -->
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
          <div class="actions actions-dark d-inline-block">
            <a href="#" class="action-item ml-md-4">
              <i class="fas fa-file-export mr-2"></i>Export
            </a>
          </div>
          <a  class="btn btn-sm btn-white btn-icon-only rounded-circle ml-4"
             (click)="open(content)">
            <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
          </a>
        </div>
      </div>
    </div>
    <!-- Listing -->
    <div class="card">
      <!-- Card header -->
      <div class="card-header actions-toolbar border-0">
        <div class="actions-search" id="actions-search">
          <div class="input-group input-group-merge input-group-flush">
            <div class="input-group-prepend">
              <span class="input-group-text bg-transparent"><i class="fas fa-search"></i></span>
            </div>
            <input type="text" class="form-control form-control-flush" placeholder="Type and hit enter ...">
            <div class="input-group-append">
              <a href="#" class="input-group-text bg-transparent" data-action="search-close"
                 data-target="#actions-search"><i class="fas fa-times"></i></a>
            </div>
          </div>
        </div>
        <div class="row justify-content-between align-items-center">
          <div class="col">
            <h6 class="d-inline-block mb-0">Requests</h6>
          </div>
          <div class="col text-right">
            <div class="actions"><a href="#" class="action-item mr-3" data-action="search-open"
                                    data-target="#actions-search"><i class="fas fa-search"></i></a>
              <div class="dropdown mr-3">
                <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                  <i class="fas fa-filter"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-sort-amount-down"></i>Newest
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-sort-alpha-down"></i>From A-Z
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-sort-alpha-up"></i>From Z-A
                  </a>
                </div>
              </div>
              <div class="dropdown" data-toggle="dropdown">
                <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                  <i class="fas fa-ellipsis-h"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="#" (click)="refreshList()" class="dropdown-item">Refresh</a>
                  <a href="#" class="dropdown-item">Manage Widgets</a>
                  <a href="#" class="dropdown-item">Settings</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Table -->
      <div class="table-responsive">
        <table class="table align-items-center">
          <thead>
          <tr>
            <th scope="col" class="sort" data-sort="id">Id</th>
            <th scope="col">Note</th>
            <th scope="col" class="sort" data-sort="name">Fullname</th>
            <th scope="col" class="sort" data-sort="company">Company</th>
            <th scope="col" class="sort" data-sort="customer">Customer</th>
            <th scope="col" class="sort" data-sort="status">Status</th>
            <th scope="col" class="sort" data-sort="lastModified">Last Modified</th>
            <th scope="col" class="text-right">Action</th>
          </tr>
          </thead>
          <tbody class="list">
          <tr *ngFor="let request of requests; let i = index"
              [class.row-status-toBeDone]="request.status === 'toBeDone'">
            <td scope="row" class="id">
              <a href="../app/requests/details.html" class="id mb-0 h6 text-sm"><i
                class="fas fa-chevron-right mr-2"></i>{{i + 1}}</a>
            </td>
            <td>
              <a placement="top" autoClose="outside"
                 [ngbPopover]="request.note ? request.note : 'It\'s empty. Yet.'">
                <i class="fa-comment-alt" [class.text-muted]="!request.note" [class.far]="!request.note"
                   [class.fas]="request.note"></i>
              </a>
            </td>
            <td class="name">
              <div class="media-body">
                <strong>{{request.fullName}}</strong>
                <small>{{request.position}}</small>
              </div>
            </td>
            <td class="company">
              <a [href]="request.prospectCompany.portalUrl" target="_blank"><i
                class="fas fa-external-link-alt mr-1"></i></a>
              {{request.prospectCompany.name}}
            </td>

            <td class="customer">
              <a [href]="request.customer.crmLink" target="_blank"><i class="fas fa-external-link-alt mr-1"></i></a>
              {{request.customer.name}}
            </td>
            <td class="status">
              <div class="dropdown status-{{request.status ? request.status : 'toBeDone'}}">
                <a href="#" class="" id="status-row-1" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                  <span class="badge text-white rounded-pill dropdown-toggle status-value"> </span>
                  <div class="dropdown-menu" aria-labelledby="status-row-1">
                    <a class="dropdown-item status-link-toBeDone" #todo href="#" data-select="toBeDone"
                       (click)="select(todo, i)">
                      <span class="status-circule status-toBeDone"></span></a>
                    <a class="dropdown-item status-link-inProgress" data-select="inProgress" #inProgress href="#"
                       (click)="select(inProgress, i)">
                      <span class="status-circule status-inProgress"></span></a>
                    <a class="dropdown-item status-link-done" #done href="#" data-select="done"
                       (click)="select(done, i)"><span
                      class="status-circule status-done"></span></a>
                    <a class="dropdown-item status-link-canceled" #canceled data-select="canceled" href="#"
                       (click)="select(canceled, i)"><span class="status-circule status-canceled"></span></a>
                  </div>
                </a>
              </div>
            </td>
            <td class="lastModified">
              {{request.updatedAt | amTimeAgo}}
            </td>

            <td class="col-actions text-right">
              <div class="dropdown" data-toggle="dropdown">
                <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                  <i class="fas fa-ellipsis-h"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right menu-actions" aria-haspopup="true" aria-expanded="false">
                  <a href="#" class="dropdown-item"><i class="fas fa-eye"></i>View</a>
                  <a href="#" class="dropdown-item"><i class="fas fa-edit"></i>Edit</a>
                  <div class="dropdown-divider"></div>
                  <a href="#" (click)="delete(i)" class="dropdown-item text-danger" data-toggle="modal"><i
                    class="fas fa-trash"></i>Delete</a>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Pagination -->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
