<div class="main-content position-relative">
  <!-- Main nav -->

  <!-- Page content -->
  <div class="page-content">
    <!-- Page title -->
    <div class="page-title mt-4 pt-2">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
          <!-- Page title + Go Back button -->
          <div class="d-inline-block">
            <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">
              <a href="#" class="sidenav-toggler mr-2" id="navigation-toggler" data-action="sidenav-pin" data-target="#sidenav-main"><i class="fas fa-bars"></i></a>
              Requests #1053
            </h5>
          </div>
          <!-- Additional info -->
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
          <div class="actions actions-dark d-inline-block">
            <a href="#" class="action-item ml-md-4">
              <i class="fas fa-edit mr-2"></i>Edit
            </a>
            <a class="action-item ml-3" (click)="delete()">
              <i class="fas fa-trash mr-2"></i>Delete
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Listing -->
    <div class="card card-body p-md-5">
      <div class="row align-items-center mb-5">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <h3>Intalere</h3>
          <h6>Ariana Barros</h6>
        </div>
        <div class="col-sm-6 text-sm-right">
          <h6 class="d-inline-block m-0 d-print-none mr-2">Status</h6>
          <div class="dropdown status-inProgress">
            <a href="#" class="" id="status-row-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="badge text-white rounded-pill dropdown-toggle status-value"> </span>
            </a>
            <div class="dropdown-menu" aria-labelledby="status-row-1">
              <a class="dropdown-item status-link-toBeDone" href="#"><span class="status-circule status-toBeDone"></span></a>
              <a class="dropdown-item status-link-inProgress" href="#"><span class="status-circule status-inProgress"></span></a>
              <a class="dropdown-item status-link-done" href="#"><span class="status-circule status-done"></span></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item status-link-canceled" href="#"><span class="status-circule status-canceled"></span></a>
            </div>
          </div>
          <p class="text-muted small pr-1 mt-2 mb-1" id="requestDateAgo">1 day ago</p>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-12">
          <div class="stepper mb-4">
            <div class="row stepper-steps">
              <div class="col stepper-step stepper-step-done">
                <div class="stepper-stepContent">
                  <span class="stepper-stepMarker">1</span><span class="stepper-status-name">To be Done</span>
                </div>
              </div>
              <div class="col stepper-step stepper-step-active">
                <div class="stepper-stepContent">
                  <span class="stepper-stepMarker">2</span><span class="stepper-status-name">In Progress</span>
                </div>
              </div>
              <div class="col stepper-step stepper-step-pending">
                <div class="stepper-stepContent">
                  <span class="stepper-stepMarker">3</span><span class="stepper-status-name">Done</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-lg-6 col-md-6">
          <h6 class="">What do they want to know?</h6>
          <p class="text-sm">
            What problems did they had with getting folks to really update the deals info, but were able to solve it with voice descriptions?
          </p>
        </div>
        <div class="col-lg-6 col-md-6">
          <h6 class="">Note</h6>
          <!--
                        <p class="text-sm">
                          Decided to move to the system in order to get all teams across different cities to the same process to ensure stable growth in the European region
                        </p>
          -->
          <a href="#" class="btn btn-xs btn-icon rounded-pill btn-secondary">
            <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
            <span class="btn-inner--text">Add note</span>
          </a>

        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6">
          <h5>Prospect details</h5>
          <dl class="row mt-4 align-items-center">
            <dt class="col-sm-3 h6 text-sm">Fullname</dt>
            <dd class="col-sm-9 text-sm">{{request && request.fullName}}</dd>

            <dt class="col-sm-3 h6 text-sm">Position</dt>
            <dd class="col-sm-9 text-sm">{{request && request.position}}</dd>

            <dt class="col-sm-3 h6 text-sm">Contacts</dt>
            <dd class="col-sm-9 text-sm">{{request && request.contactDetails.textarea}}</dd>

            <dt class="col-sm-3 h6 text-sm">Company</dt>
            <dd class="col-sm-9 text-sm">{{request && request.prospectCompany.name}}</dd>

            <dt class="col-sm-3 h6 text-sm">Website</dt>
            <dd class="col-sm-9 text-sm"><a [href]="request && request.prospectCompany.portalUrl" target="_blank">{{request && request.prospectCompany.portalUrl}}</a></dd>

            <dt class="col-sm-3 h6 text-sm">Created Date</dt>
            <dd class="col-sm-9 text-sm">{{request && request.createdAt | amDateFormat:'LL'}}</dd>

            <dt class="col-sm-3 h6 text-sm">Last Modified</dt>
            <dd class="col-sm-9 text-sm">{{request && request.updatedAt | amDateFormat:'LL'}}</dd>
          </dl>
        </div>
        <div class="col-12 col-md-6">
          <h5>Customer details</h5>
          <img src="../reference portal/assets/img/customers/cleaning_masters/logo.png" alt="" height="36" class="mt-3">
          <dl class="row mt-4 align-items-center">
            <dt class="col-sm-3 h6 text-sm">Company</dt>
            <dd class="col-sm-9 text-sm"><a [routerLink]="['/admin/customers/' + request.customer.id]">{{request && request.customer.name}}</a></dd>

            <dt class="col-sm-3 h6 text-sm">Reference</dt>
            <dd class="col-sm-9 text-sm">{{request && request.customer.referencePerson.fullname}}</dd>

            <dt class="col-sm-3 h6 text-sm">Contact</dt>
            <dd class="col-sm-9 text-sm">{{request && request.customer.referencePerson.phone}}</dd>

            <dt class="col-sm-3 h6 text-sm">CRM</dt>
            <dd class="col-sm-9 text-sm"><a [href]="request && request.customer.crmLink">{{request && request.customer.crmLink}}</a></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
