
<!-- Application container -->
<div class="container-fluid container-application">
  <!-- Content -->
  <div class="main-content position-relative">
    <!-- Main nav -->

    <!-- Page content -->
    <div class="page-content">
      <!-- Create project modal -->
      <div class="modal fade modal-add" id="modal-project-create" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="form-group">
                <label class="form-control-label">
                  Name
                </label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label class="form-control-label">
                  Company
                </label>
                <input type="text" class="form-control">
              </div>
              <!-- Project description -->
              <div class="form-group">
                <label class="form-control-label mb-0">
                  Description
                </label>
                <small class="form-text text-muted mb-2 mt-0">
                  Please, describe what kind of feedback are you expexting to get
                </small>
                <textarea class="form-control" data-toggle="autosize" rows="1"></textarea>
              </div>

              <div class="form-group">
                <label class="form-control-label">
                  Customer
                </label>
                <select class="custom-select">
                  <option selected>Select customer...</option>
                  <option value="Cigna">Cigna</option>
                  <option value="Vision X">Vision X</option>
                  <option value="Envision">Envision</option>
                  <option value="CVS/Caremark">CVS/Caremark</option>
                  <option value="OptumRx">OptumRx</option>
                  <option value="Argus">Argus</option>
                </select>
              </div>


              <div class="form-group">
                <div>
                  <label class="form-control-label">
                    Type
                  </label>
                </div>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-primary">
                    <input type="checkbox" name="options" id="checkboxButton2" autocomplete="off"> Text chat
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" name="options" id="checkboxButton3" autocomplete="off"> Phone call
                  </label>
                  <label class="btn btn-primary active">
                    <input type="checkbox" name="options" id="checkboxButton4" autocomplete="off" checked> Video call
                  </label>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-secondary rounded-pill" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-sm btn-primary rounded-pill" data-dismiss="modal">Add</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Page title -->
      <div class="page-title mt-4">
        <div class="row justify-content-between align-items-center">
          <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
            <!-- Page title + Go Back button -->
            <div class="d-inline-block">
              <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">Customers</h5>
            </div>
            <!-- Additional info -->
            <div class="align-items-center ml-4 d-inline-flex">
              <span class="h4 text-info mb-0 mr-2">5</span>
              <span class="text-sm opacity-7 text-white mr-2"> in total</span>
            </div>
            <!-- Optional link -->
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
            <div class="actions actions-dark d-inline-block">
              <a href="#" class="action-item ml-md-4">
                <i class="fas fa-file-export mr-2"></i>Export
              </a>
              <a href="#" class="action-item ml-3">
                <i class="fas fa-cog mr-2"></i>Settings
              </a>
            </div>
            <a href="#modal-project-create" class="btn btn-sm btn-white btn-icon-only rounded-circle ml-4" data-toggle="modal">
              <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
            </a>
          </div>
        </div>
      </div>
      <!-- Listing -->
      <div class="card">
        <!-- Card header -->
        <div class="card-header actions-toolbar border-0">
          <div class="actions-search" id="actions-search">
            <div class="input-group input-group-merge input-group-flush">
              <div class="input-group-prepend">
                <span class="input-group-text bg-transparent"><i class="fas fa-search"></i></span>
              </div>
              <input type="text" class="form-control form-control-flush" placeholder="Type and hit enter ...">
              <div class="input-group-append">
                <a href="#" class="input-group-text bg-transparent" data-action="search-close" data-target="#actions-search"><i class="fas fa-times"></i></a>
              </div>
            </div>
          </div>
          <div class="row justify-content-between align-items-center">
            <div class="col">
              <h6 class="d-inline-block mb-0">Customers</h6>
            </div>
            <div class="col text-right">
              <div class="actions"><a href="#" class="action-item mr-3" data-action="search-open" data-target="#actions-search"><i class="fas fa-search"></i></a>
                <div class="dropdown mr-3">
                  <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-filter"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-sort-amount-down"></i>Newest
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-sort-alpha-down"></i>From A-Z
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-sort-alpha-up"></i>From Z-A
                    </a>
                  </div>
                </div>
                <div class="dropdown" data-toggle="dropdown">
                  <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-h"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a href="#" class="dropdown-item">Refresh</a>
                    <a href="#" class="dropdown-item">Manage Widgets</a>
                    <a href="#" class="dropdown-item">Settings</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Table -->
        <div class="table-responsive">
          <table class="table align-items-center">
            <thead>
            <tr>
              <th scope="col" class="sort" data-sort="order"></th>
              <th scope="col" class="sort"></th>
              <th scope="col" class="sort" data-sort="cname">Company</th>
              <th scope="col" class="sort" data-sort="reference">Reference</th>
              <th scope="col" class="sort">Contacts</th>
              <th scope="col" class="sort" data-sort="country">Country</th>
              <th scope="col" class="sort" data-sort="city">City</th>
              <th scope="col" class="sort" data-sort="calls">Calls</th>
            </tr>
            </thead>
            <tbody class="list">
            <tr>
              <th class="order" scope="row">1</th>
              <td>
                <div class="media align-items-center">
                  <div class="customers-logo">
                    <a href="customer_details.html">
                      <img alt="Logo" src="../assets/img/clients/svg/airbnb.svg" class="clogo">
                    </a>
                  </div>
                </div>
              </td>
              <td class="cname">
                <a href="customer_details.html" class="name h6 mb-0 text-sm">Airbnb</a>
              </td>
              <td class="reference">
                <div class="media align-items-center">
                  <div>
                    <div class="avatar-parent-child">
                      <img alt="Image placeholder" src="../assets/img/theme/light/team-2-800x800.jpg" class="avatar  rounded-circle">
                    </div>
                  </div>
                  <div class="media-body ml-4">
                    <a href="#" class="name h6 mb-0 text-sm">Ariana Barros</a>
                    <small class="d-block font-weight-bold">Product Manager</small>
                  </div>
                </div>
              </td>
              <td class="contacts">
                <a href="#" class="mb-0" data-toggle="tooltip" data-placement="top" title="+38093 712 1976"><i class="fas fa-phone-square color-phone"></i></a>
                <a href="#" class="mb-0" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fab fa-facebook-square color-fb"></i></a>
                <a href="#" class="mb-0" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fab fa-linkedin color-li"></i></a>
                <a href="#" class="mb-0" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fab fa-twitter-square color-tw"></i></a>
              </td>
              <td class="country"><img alt="flag" class="table-flag" src="../assets/img/icons/flags/us.svg" /> USA</td>
              <td class="city">San-Francisco</td>
              <td class="calls">
                <span class="badge badge-secondary">18</span>
              </td>
            </tr>
            <tr>
              <th class="order" scope="row">2</th>
              <td>
                <div class="media align-items-center">
                  <div class="customers-logo">
                    <a href="customer_details.html">
                      <img alt="logo" src="../assets/img/clients/svg/amazon.svg" class="clogo">
                    </a>
                  </div>
                </div>
              </td>
              <td class="cname">
                <a href="customer_details.html" class="name h6 mb-0 text-sm">Amazon</a>
              </td>
              <td class="reference">
                <div class="media align-items-center">
                  <div>
                    <div class="avatar-parent-child">
                      <img alt="Image placeholder" src="../assets/img/theme/light/team-1-800x800.jpg" class="avatar  rounded-circle">
                    </div>
                  </div>
                  <div class="media-body ml-4">
                    <a href="#" class="name h6 mb-0 text-sm">Alex Krasnov</a>
                    <small class="d-block font-weight-bold">Co-founder</small>
                  </div>
                </div>
              </td>
              <td class="contacts">
                <a href="#" class="mb-0" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fab fa-facebook-square color-fb"></i></a>
                <a href="#" class="mb-0" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fab fa-linkedin color-li"></i></a>
                <a href="#" class="mb-0" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fab fa-twitter-square color-tw"></i></a>
              </td>
              <td class="country"><img alt="flag" class="table-flag" src="../assets/img/icons/flags/de.svg" /> Germany</td>
              <td class="city">Berlin</td>
              <td class="calls">
                <span class="badge badge-secondary">28</span>
              </td>
            </tr>
            <tr>
              <th class="order" scope="row">3</th>
              <td>
                <div class="media align-items-center">
                  <div class="customers-logo">
                    <a href="customer_details.html">
                      <img alt="Logo" src="../assets/img/clients/svg/google.svg" class="clogo">
                    </a>
                  </div>
                </div>
              </td>
              <td class="cname">
                <a href="customer_details.html" class="name h6 mb-0 text-sm">Google</a>
              </td>
              <td class="reference">
                <div class="media align-items-center">
                  <div>
                    <div class="avatar-parent-child">
                      <img alt="Image placeholder" src="../assets/img/theme/light/team-3-800x800.jpg" class="avatar  rounded-circle">
                    </div>
                  </div>
                  <div class="media-body ml-4">
                    <a href="#" class="name h6 mb-0 text-sm">Karlien Nijhuis</a>
                    <small class="d-block font-weight-bold">VP of Engineering</small>
                  </div>
                </div>
              </td>
              <td class="contacts">
                <a href="#" class="mb-0" data-toggle="tooltip" data-placement="top" title="+38093 712 1976"><i class="fas fa-phone-square color-phone"></i></a>
                <a href="#" class="mb-0" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fab fa-facebook-square color-fb"></i></a>
                <a href="#" class="mb-0" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fab fa-linkedin color-li"></i></a>
              </td>
              <td class="country"><img alt="flag" class="table-flag" src="../assets/img/icons/flags/us.svg" /> USA</td>
              <td class="city">San-Francisco</td>
              <td class="calls">
                <span class="badge badge-secondary">60</span>
              </td>
            </tr>
            <tr>
              <th class="order" scope="row">4</th>
              <td>
                <div class="media align-items-center">
                  <div class="customers-logo">
                    <a href="customer_details.html">
                      <img alt="Image placeholder" src="../assets/img/clients/svg/paypal.svg" class="clogo">
                    </a>
                  </div>
                </div>
              </td>
              <td class="cname">
                <a href="customer_details.html" class="name h6 mb-0 text-sm">Paypal</a>
              </td>
              <td class="reference">
                <div class="media align-items-center">
                  <div>
                    <div class="avatar-parent-child">
                      <img alt="Image placeholder" src="../assets/img/theme/light/team-4-800x800.jpg" class="avatar  rounded-circle">
                    </div>
                  </div>
                  <div class="media-body ml-4">
                    <a href="#" class="name h6 mb-0 text-sm">Thanawan Chadee</a>
                    <small class="d-block font-weight-bold">Head of IT</small>
                  </div>
                </div>
              </td>
              <td class="contacts">
                <a href="#" class="mb-0" data-toggle="tooltip" data-placement="top" title="+38093 712 1976"><i class="fas fa-phone-square color-phone"></i></a>
                <a href="#" class="mb-0" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fab fa-linkedin color-li"></i></a>
                <a href="#" class="mb-0" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fab fa-twitter-square color-tw"></i></a>
              </td>
              <td class="country"><img alt="flag" class="table-flag" src="../assets/img/icons/flags/nl.svg" /> Netherlands</td>
              <td class="city">Amsterdam</td>
              <td class="calls">
                <span class="badge badge-secondary">4</span>
              </td>
            </tr>
            <tr>
              <th class="order" scope="row">5</th>
              <td>
                <div class="media align-items-center">
                  <div class="customers-logo">
                    <a href="customer_details.html">
                      <img alt="Logo" src="../assets/img/clients/svg/spotify.svg" class="clogo">
                    </a>
                  </div>
                </div>
              </td>
              <td class="cname">
                <a href="customer_details.html" class="name h6 mb-0 text-sm">Spotify</a>
              </td>
              <td class="reference">
                <div class="media align-items-center">
                  <div>
                    <div class="avatar-parent-child">
                      <img alt="Image placeholder" src="../assets/img/theme/light/team-5-800x800.jpg" class="avatar  rounded-circle">
                    </div>
                  </div>
                  <div class="media-body ml-4">
                    <a href="#" class="name h6 mb-0 text-sm">Yvonne Knight</a>
                    <small class="d-block font-weight-bold">COO, Co-Founder</small>
                  </div>
                </div>
              </td>
              <td class="contacts">
                <a href="#" class="mb-0" data-toggle="tooltip" data-placement="top" title="+38093 712 1976"><i class="fas fa-phone-square color-phone"></i></a>
                <a href="#" class="mb-0" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fab fa-linkedin color-li"></i></a>
              </td>
              <td class="country"><img alt="flag" class="table-flag" src="../assets/img/icons/flags/fr.svg" /> France</td>
              <td class="city">Paris</td>
              <td class="calls">
                <span class="badge badge-secondary">4</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="footer pt-5 pb-4 footer-light" id="footer-main">
    <div class="row text-center text-sm-left align-items-sm-center">
      <div class="col-sm-6">
        <p class="text-sm mb-0">&copy; 2019 <a href="https://choicery.io" class="h6 text-sm" target="_blank">Choicery</a>. All rights reserved.</p>
      </div>
      <div class="col-sm-6 mb-md-0">
        <ul class="nav justify-content-center justify-content-md-end">
          <li class="nav-item">
            <a class="nav-link" href="#">Support</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Terms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pr-0" href="#">Privacy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
